@model Shared.Character

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using (Html.BeginForm("Index", "DndCombat", FormMethod.Post))
{
    @Html.EditorForModel()
    <br/>
    <button type="submit">Fight</button>
}
